.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  margin-bottom: 0;
  margin-top: 11px;
  line-height: 1.2;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 36px;
}
.h1,
h1 {
  font-size: 2.5rem;
}
h4 {
  font-size: 22px;
}

.slider_area {
  background-image: url(../images/slider-1.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 900px;
  position: relative;
}

.tabel-slider_area {
  background-image: url(../images/slider-1.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 1000px;
  position: relative;
}
.slider {
  height: 700px;
}

.tabel-slider {
  height: 1400px;
}

.slider_thumb {
  position: relative;
}

.slider_thumb_inner {
  position: absolute;
  left: 42%;
  bottom: -190px;
}

.slider_text_inner {
  text-align: center;
  color: #fff;
  font-family: "Quicksand", sans-serif;
}

.slider_text_inner h1 {
  margin: 0;
  font-size: 50px;
  color: #fff;
}
.slider_text_inner ul {
  margin-top: 15px;
}
.slider_text_inner ul li {
  display: inline;
  font-size: 19px;
  color: #fff;
  margin: 0 7px;
  font-family: "Quicksand", sans-serif;
}
.slider_text .Slider_button {
  text-align: center;
}
.pt-30 {
  padding-top: 30px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-150 {
  padding-top: 150px;
}
.Slider_button .button a {
  background: #5fe60e;
  color: #fff;
  padding: 15px 35px;
  font-weight: 500;
  display: inline-block;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}
.slider_text_inner .cass_active {
  color: #5fe60e;
}
.navbar-nav {
  margin-left: auto;
}
.navbar {
  background: transparent;
  padding: 0px 50px 25px 50px;
  transition: 0.5s;
  margin-bottom: -174px;
  z-index: 999;
  position: relative;
}

.pb-80 {
  padding-bottom: 80px;
}

.bg_color {
  background: #0b2c55;
}

.uper_top {
  position: relative;
  margin-top: -100px;
}
.single_feature {
  text-align: center;
  background: #003569;
  padding: 40px 26px 18px;
  box-shadow: 0 2px 25px rgb(0 0 0 / 10%);
  border-radius: 5px;
  height: 380px;
}
.single_feature_icon img {
  border-radius: 100%;
  width: 100px;
  transition: 0.8s;
}
.single_feature_title h4 {
  font-size: 22px;
  color: #fff;
}
.single_feature_text p {
  color: rgba(255, 255, 255.8);
}
.bordered {
  content: "";
  left: 0;
  top: 40px;
  height: 2px;
  width: 80px;
  background: #5fe60e;
  right: 0;
  margin: auto;
}
.link {
  color: #5fe60e;
  font-weight: 1000;
  text-decoration: none;
}

.rotate {
  animation: rotation 20s infinite linear;
}

.thumb img {
  width: 100%;
}
.about h5 {
  text-transform: uppercase;
  color: #5fe60e;
  font-size: 16px;
  padding-bottom: 10px;
}

.about {
  color: #fff;
  font-family: "Quicksand", sans-serif;
}

.about ul li {
  font-size: 19px;
  color: #fff;
  list-style: none;
  font-family: "Quicksand", sans-serif;
}
.about i {
  color: #5fe60e;
  font-size: 25px;
}

.page_footer p,
h4 {
  color: rgba(255, 255, 255.8);
}
.footer_icon a {
  display: inline-block;
  background: #fff;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: #5fe60e;
  border-radius: 5px;
  margin: 0 4px;
  transition: 0.5s;
}
.page_footer ul {
  list-style: none;
}
.page_footer ul li {
  display: block;
  padding-bottom: 15px;
  transition: 0.5s;
}
.page_footer ul li a {
  color: rgba(255, 255, 255.8);
  transition: 0.5s;
  text-decoration: none;
}
.page_footer_thumb {
  float: left;
  margin-right: 2px;
}
.page_footer_thumb img {
  width: 82%;
  border-radius: 5px;
}
.page_footer_content a {
  color: rgba(255, 255, 255.8);
  transition: 0.5s;
  text-decoration: none;
}
.page_footer_content span {
  display: block;
  color: rgba(255, 255, 255.8);
  font-size: 13px;
  margin-top: 5px;
}
/* .clouds .cloud4 {
  -webkit-animation: cloud4 45s linear 21s infinite;
  animation: cloud4 45s linear 21s infinite;
  opacity: 0;
}
.clouds .cloud1 {
  bottom: 0px;
  -webkit-animation: cloud1 45s linear 6s infinite;
  animation: cloud1 45s linear 6s infinite;
  opacity: 0;
}
.clouds .cloud2 {
  bottom: 0;
  -webkit-animation: cloud2 45s linear 21s infinite;
  animation: cloud2 45s linear 21s infinite;
  opacity: 0;
}
.clouds .cloud3 {
  -webkit-animation: cloud3 45s linear 6s infinite;
  animation: cloud3 45s linear 6s infinite;
  opacity: 0;
} */
.clouds .cloud2 {
  position: relative;
  bottom: 0;
  animation-timing-function: linear;
  animation: mymove 10s infinite;
}
.clouds .img {
  position: relative;
  bottom: 0;
  z-index: 1;
}

@keyframes mymove {
  from {
    right: 0px;
  }
  to {
    right: 1500px;
  }
}

.bg-green {
  background-color: rgba(0, 255, 0, 0.2) !important;
}
.bg-red {
  background-color: rgba(255, 0, 0, 0.3) !important;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media only screen and (min-width: 320px) and (max-width: 599px) {
  .navbar {
    background-color: #003569;
  }
  .slider {
    height: 1000px;
  }
  .tabel-slider {
    height: 600px;
  }
}
